/*CONTACTO - FORMULARIO*/

.formulario-contacto {
  display: flex; /*coloca los elementos uno al lado de otro*/
  flex-direction: column; /*para colocar un elemento sobre otro*/
  align-items: center; /*centra los hijos horizontalmente*/
  padding: 40px 5%; /*separación entre elementos*/
  background-color: #f9f9f9; /*color de fondo de la caja*/
  border-radius: 14px; /*redondeo de las esquinas de la caja*/
  border: 2px solid rgb(37, 193, 221); /*linea de borde de la caja*/
  max-width: 600px; /* Una caja donde contacto se ve mejor */
  width: 90%;  /* Para que en móviles no toque los bordes del teléfono */
}

.container-datos {
  padding: 20px; /*separación entre elementos*/
  width: 90%; /*para que en móviles no toque los bordes del teléfono*/
  }

label {
  display: block; /*para ocupar todo el ancho posible*/
  margin-bottom: 8px; /*margen inferior entre elementos*/
  font-family: "roboto", sans-serif; /*tipografía*/
  color: #1a1a1a; /*color del texto*/
  font-weight: bold; /*para que este en negrita*/
}

input, textarea {
width: 100%; /*ancho*/
padding: 12px; /*distancia entre elementos*/
margin-bottom: 20px; /*distancia con la parte de abajo*/
border: 1px solid #1a1a1a; /*color del borde de caja*/
border-radius: 7px; /*redondear las esquinas*/
font-family: "roboto", sans-serif; /*tipografía*/
box-sizing: border-box; /*evita que input y textarea se salgan de la caja*/
transition: border-color 0.4s ease; /*efecto para cuando escribe el usuario escribir*/
}

/*efecto cuando el usuario va a escribir*/
input:focus, textarea:focus {
  outline: none; /*para quitar efectos prestablecidos de navegadores*/
  border-color: #1a1a1a; /*color del borde de baja*/
  box-shadow: 0 0 5px #4a4a4a; /*color de la sobra*/
}
textarea {
  resize: vertical; /* Permite estirar hacia abajo pero no hacia los lados */
}

.boton-submit {
  display: inline-block; /*coloca elementos uno al lado del otro, con control de tamaño*/
  text-decoration: none; /*para quitar decoracion prestablecida*/
  padding: 14px 10px; /*espacio del texto con la caja*/
  gap: 17px; /* Espacio entre items*/
  color: green; /*color del texto*/
  border-radius: 7px; /*para redondear las esquinas*/
  border: 1px solid green; /*color del borde de la caja*/
  background-color: transparent; /*fondo transparente*/
  transition: all 0.4s ease-in-out; /*tiempo del efecto*/
}

.boton-submit:hover {
  color: #f9f9f9; /*color del texto*/
  background-color: green; /* Cambia a tu color oscuro al pasar el ratón */
}

.boton-reset {
  display: inline-block; /*coloca elementos uno al lado del otro, con control de tamaño*/
  text-decoration: none; /*para quitar decoracion prestablecida*/
  padding: 14px 10px; /*espacio del texto con la caja*/
  gap: 17px; /* Espacio entre items*/
  color: red; /*color del texto*/
  border-radius: 7px; /*para redondear las esquinas*/
  border: 1px solid red; /*color del borde de caja*/
  background-color: transparent; /*fondo transparente*/
  transition: all 0.4s ease-in-out; /*tiempo de la transicion*/
}

.boton-reset:hover {
  color: #f9f9f9; /*color del texto*/
  background-color: red ; /* Cambia a tu color oscuro al pasar el ratón */
}