/*INDEX - HOME*/

.cabecera {
  display: flex;  /* Coloca los elementos uno al lado del otro */
  flex-direction: column;  /* Pone los elementos uno sobre otro */
  align-items: center;  /* Centra todo horizontalmente */
  justify-content: center;  /* Centra todo verticalmente */
  text-align: center;  /* Centra el texto de los títulos y párrafos */
  min-height: 100%;  /* Ocupa todo el alto de la pantalla */
  gap: 20px;/* Espaciado igual entre elementos */
  padding: 40px 10%;  /* Márgenes laterales para que el texto no toque los bordes, porcentaje para diseño responsivo */
}

.cabecera h1 {
  font-family: "Roboto", sans-serif;  /*Tipografía*/
  color: #1f2a33;  /*Color del texto con mis colores*/
}

.cabecera h2 {
  font-family: "Roboto", sans-serif;  /*Tipografía*/
  color: #4a4a4a;  /* Color del texto con mis colores*/
}

.cabecera a {
  width: 400px;  /* Ancho horizontal */
  height: 400px;  /*Altura vertical*/
  border-radius: 50%;  /* Esquinas suavizadas (sale un círculo)*/
  border: 8px solid white;  /*Borde de la imagen*/
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);  /*Para dar sombra*/
  overflow: hidden;  /*para que no desborde la imagen, corta lo que se sale del circulo*/
}

.cabecera img {
  width: 100%; /*para que ocupe el máximo*/
  max-width: 400px;  /* No crece más de 400px, responsive */
  object-fit: cover;  /* La imagen no se deforma */
  transition: transform 0.7s ease-in-out;  /* Para la animación, así funciona de inicio a fin */
}

.cabecera img:hover {
  transform: scale(1.1);    /* Efecto al pasar el ratón */
  transition: transform 0.7s ease-in-out;  /* Para la animación, así funciona de inicio a fin */
}

.cabecera p {
  font-family: "Roboto", sans-serif;  /*Tipografía*/
  text-align: justify; /*justifica el texto*/
  color: #1f2a33;  /*color de la topografia*/
  max-width: 700px;  /*Limita el ancho del texto para una mejor lectura*/
  line-height: normal;  /*Define el espacio entre lineas*/
  margin: 0;  /*Para "resetear" el margen preestablecido que puede haber*/
}